<ion-view view-title="首页" hide-nav-bar="true">
  <ion-content>
  	
  	<style>
  		/*轮播样式*/
  		.box {
  			width: 100%;
  			height: 4.65rem;
  		}
  		.box img {
  			width: 100%;
  		}
  		
  		/*好评榜*/
  		.sy_img {
  			width: 100%;
  			height: 2.8rem;
  			overflow: hidden;
  		}
  		a {
  			color: #666;
  			text-decoration: none;
  		}
  		/*最新课程*/
  		.titleItem h2{
  			float: left;
  		}
  		.more {
  			float: right;
  		}
  		/*猜你喜欢*/
  		.item-thumbnail-left {
  			padding-left: 120px;
  		}
			.item-thumbnail-left img:first-child {
				max-width: 100px;
			}
  	</style>
  	
  	
  	
  	<!--首页导航-->
	  <div class="item item-input-inset">
	  	<div style="width: 1rem;height: 1rem; margin-right: 0.3rem;" ng-click="toggleLeftSideMenu()">
	  		<img style="width: 100%;" src="../img/person_touxiang.png"/>
	  	</div>
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="Search">
	    </label>
	    <button class="button button-small icon ion-ios-search"></button>
	  </div>
	  <!--首页导航结束-->
	  
		<!--轮播图-->
		<ion-slide-box auto-play="true" slide-interval="2000" does-continue="true" >
			
		  <ion-slide ng-repeat="slidePic in slidePics">
		  	<div class="box">
			    <img src="../img/{{slidePic.imgsrc}}" />
		  	</div>
		  </ion-slide>
		  
		</ion-slide-box>
    <!--轮播图结束-->
    
    <!--好评榜-->
    <div class="list" style="margin-bottom: 0;">
		  <div class="item titleItem">
		    <h2>好评榜</h2>
		  </div>
		  <div class="item item-body">
		    <div class="row" ng-repeat="rows in homeGood">
					<div class="col col-50" ng-repeat="cols in rows" ng-click="toStudy({{cols.id}})">
						<div class="sy_img">
							<img class="full-image" src="../img/{{cols.imgsrc}}">
						</div>
				    <h2>{{cols.title}}</h2>
				    <a href="#">{{cols.main}}</a>
				    
					</div>
				</div>
		  </div>
		</div>
    <!--好评榜结束-->
    
    <!--最新课程-->
    <div class="list" style="margin-bottom: 0;">
		  <div class="item titleItem">
		    <h2>最新课程</h2>
		    <p class="more"><!--添加更多-->
		    	<a href="#/tab/lessonlist">更多</a><!--跳转到课程列表页-->
		    	<span class="icon ion-chevron-right"></span>
		    </p>
		  </div>
		  <div class="item item-body">
		    <div class="row" ng-repeat="rows in homeNew">
					<div class="col col-50" ng-repeat="cols in rows">
						<div class="sy_img">
							<img class="full-image" src="../img/{{cols.imgsrc}}">
						</div>
				    <h2>{{cols.title}}</h2>
				    <a href="#">{{cols.main}}</a>
				    
					</div>
				</div>
		  </div>
		</div>
    <!--最新课程结束-->
    
    <!--猜你喜欢-->
  		<div class="list">
					<div class="item titleItem">
				    <h2>猜你喜欢</h2>
				  </div>
			    <a class="item item-thumbnail-left" ng-repeat="key in homeLike">
			      <img src="../img/{{key.imgsrc}}" style="height: auto;">
			      <h2>{{key.title}}</h2>
			      <p>{{key.main}}</p>
			    </a>
			</div>
    <!--猜你喜欢结束-->
    
    
    
  </ion-content>
</ion-view>

